/*SIDEPAN*/
.sidepan img {
  margin-left: 0px;
  -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;
}
 
.sidepan img:hover {
  margin-left: -200px;
  padding: 100px;
}

#title p{
	font-size: 100px;
	text-align: center;
	margin-bottom: 50px;
	font-family: cursive;
}

*{
				margin:0;
				padding:0;


			}
		ul{
			background-color: #C0C0C0;
			height: 30px;



		}
		li{
				list-style-type: none;
				float:left;
				color:white;
				padding: 10px;
		}
		div{
			display: block;
		}
		div p{

		}
		p{
			margin-right: 50px;
			margin-left: 10px;
			font-size: 200%;

		}

		img{
			margin-right: 50px;
			margin-left: 10px;
			float: left;
		}
.bar{
		*{
				margin:0;
				padding:0;

			}
		ul{
			background-color: #000;
			height: 30px;



		}
			li{
				list-style-type: none;
				float:left;
				color:white;
				padding: 10px;

.First{
	color: white;
	text-align: center;
}
}
